# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

# Git, save folders
# src/**
# games/**
# server/**

# Git, no need to save
node_modules/**

# Local Netlify folder
.netlify
